<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Diabetes prediction</h1>

    <form action="{{url_for('predict')}}"method="post">
        <input type="text" name="Pregnancies" placeholder="Pregnancies(0-10)" required="required" />
        <input type="text" name="Glucose" placeholder="Glucose(0-100)" required="required" />
        <input type="text" name="Blood Pressure" placeholder="Blood Pressure(0-300)" required="required" />
        <input type="text" name="Skin Thickness" placeholder="Skin Thickness(0-50)" required="required" />
        <input type="text" name="Insulin" placeholder="Insulin(0-500)" required="required" />
        <input type="text" name="BMI" placeholder="BMI(0.0-50.0)" required="required" />
        <input type="text" name="Diabetes Pedigree Function" placeholder="D.P.F(0.0-2.0)" required="required" />
        <input type="text" name="Age" placeholder="Age(0-100)" required="required" />
    
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>
